.container {
    nav {
        padding: 24px 15px;
        align-items: center;
        .logo {
            display: flex;
        }
        .nav_center {
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                align-items: center;
                gap: 32px;

                li {
                    padding: 8px 12px;
                    border-radius: 8px;
                    background: $bg_color;

                    a {
                        font-family: $default_font;
                        color: $default_color;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                    }
                }
            }
        }
        .nav_right {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 16px;
        }
    }



}